{{#footer}}
<footer class="grid_12">
	{{{title}}}
	<div id="map-wrapper">
		<div id="map"></div>
	</div>
	<div>
		<ul>
			{{#options}}
			<li><a href="{{code}}">{{text}}</a></li>
			{{/options}}
		</ul>
	</div>
</footer>
{{/footer}}