{{#header}}
<header>
	<div class="grid_12">
		<ul>
			{{#languages}}
			<li><a href="/{{code}}">{{text}}</a></li>
			{{/languages}}
		</ul>
	</div>
	<h1 class="grid_2">{{title}}</h1></a>
	<p class="grid_10 description">{{description}}</p>
</header>
{{/header}}